* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin-left: 2em;
}

#carouselExampleControls {
  height: 50%;
}

.card {
  box-shadow: 0px 0px 15px rgb(190, 188, 188);
  height: 100%;
}

.image-wrap {
  overflow: hidden;
}

.image-zoom {
  transition: transform 1s, filter 1.5s ease;
  transform-origin: center center;
  filter: brightness(60%);
}
.image-zoom:hover {
  transform: scale(1.2);
  filter: brightness(100%);
}

.card-img-top {
  height: 15vw;
  max-width: 100%;
  object-fit: cover;
}

.row {
  margin-bottom: 2em;
  margin-right: 0px;
  margin-left: 0px;
}
