<% if(typeof message !== 'undefined') {
    let alertClass = "alert-warning";
    switch(message['type']) {
      case 'success':
          alertClass = "alert-success";
          break;
      case 'error':
          alertClass = "alert-danger";
          break;
      }%>
    <div class="alert <%=alertClass%> alert-dismissible fade show" role="alert">
      <%=message['data']%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <%} %>