<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-glow" href="/">Golden Shoe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/category/men">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category/women">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category/kids">Kids</a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/new">New Releases</a>
        </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <!-- Shopping Cart Icon and items badge -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/cart" class="nav-link navbar-link-2">
                  <i class="fa fa-fw fa-shopping-cart"></i>
                  <span class="badge badge-pill"><%=cart.length != 0 ? cart.length : ""%></span>
              </a>
            </li>
        </ul>
        <!-- Sign-in DropDown -->
        <ul class="navbar-nav me-4">
            <% if(typeof username !== 'undefined') { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Hi, <%=name%> </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/myorders">My Orders</a></li>
                    <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                </ul>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/sign-in">Sign In</a>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>